/* reset */
html {
  height: 100%;
}
body {
  min-height: 100%;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
a {
  all: none;
  text-decoration: none;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
}
main {
  padding: 2rem;
}
p {
  max-width: 70ch;
  margin-right: auto;
  margin-left: auto;
}

/* Share elements between pages */
h1 {
  color: #2b1b13;
  margin-bottom: 3rem;
  text-align: center;
}
