body {
  background-color: #f9d1d1;
}
h1 {
  margin-bottom: 4rem;
}
img {
  width: 168px;
  margin: auto;
  border: 2px dotted #2b1b13;
  border-radius: 50%;
  background-color: #fff;
}
#img-2 {
  margin: 1rem auto;
}
p {
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
}
