/* variables & basic*/
:root {
  --font-size-intro: 4rem;
}
body {
    background-color: #f4dfba;
    display: flex;
    justify-content: center;
  }

/* text */
h1 {
  color: #2b1b13;
  margin-bottom: 3rem;
}
p {
  margin: 0 auto 2rem auto;
}

/* button */
.btn {
  width: max-content;
  height: 48px;
  margin: 0 auto 0 auto;
  padding: 0 16px;
  border-radius: 24px;
  font-family: "Nunito", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  appearance: none;
  border: none;
}
/* -- button animations*/
.btn:hover {
  width: max-content;
  border: 3px solid #5b0058;
  background-color: #fff;
}
.btn--callToAction {
  background-color: #5b0058;
}
.btn--callToAction:hover {
  color: #5b0058;
}
.btn--ok {
  background-color: #00a216;
}
.btn--ok:hover {
  color: #00a216;
  border-color: #00a216;
}
.btn--error {
  background-color: #a80000;
}
.btn--error:hover {
  color: #a80000;
  border-color: #a80000;
}
/*--Animation accordign to the btn type*/
.btn,
.btn span {
  transition: all 0.2s;
}
.btn--hoverContent {
  opacity: 0;
  font-size: 0;
}
.btn:hover .btn--hoverContent {
  opacity: 1;
  font-size: 1.25rem;
}
.btn:hover .btn--normalContent {
  font-size: 0;
  opacity: 0;
}


/* proposal */
.container{
  margin-top: 15vh;
}
.container img{
  margin: auto;
}
.header_text {
  font-family: "Nunito";
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;

  color: #532907;
  background: -webkit-linear-gradient(#532907, #37261f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
}