body{
    background-color: #F9D1D1;
}
h1 {
    color: #2b1b13;
    margin-bottom: 4rem;
  }
img{
    border-radius: 50%;
    width: 168px;
    margin: auto;
    border: 2px dotted #2b1b13;
    background-color: #fff;
}
#img-2{
    margin: 1rem  auto;
}
p{
    margin-top: 4rem;
    text-align: center;
}
footer{
    width: 100%;
    overflow-y: hidden;
    /* overflow-x: hidden; */
    /* background-color: #da7543; */
    color: #fff;
    margin-bottom: 2rem;
}